* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   /* overflow: hidden; */
}


.cantainer {
   width: 1345px;
   margin: 0 auto;
}

.sec1-mainbg {
   background: url(../images/sec1\ main\ bg.png) no-repeat center center/cover;
}

.dis-flex {
   display: flex;
}

.jus-cen {
   /* justify-content: space-around; */

   margin: 0px 30px;

   /* align-items: center; */
   text-align: center;

}

.pos-rel {
   position: relative;
}

.pos-abs {
   position: absolute;
}

.nevbar ul {
   display: flex;
   margin-right: 100px;
}


.nevbar ul li {
   /* padding: 44px 25px; */
   margin: 63px 26px;
   color: white;
}

.nevbar ul li a {
   color: white;
   font-size: 25px;
}

.header {
   justify-content: space-between;
   /* background-color: black; */
}

.logo img {
   /* margin-left: 40px; */
   margin: 10px 11px;
   padding: 25px 67px;
}


.coll50 {
   width: 50%;
   /* text-align: center; */
   align-items: center;
}


.sec1-text h1 {
   font-size: 91px;
   line-height: 97px;
   color: #ffffff;
}

.sec1-text {

   /* margin: 81px 60px; */
   padding: 59px 61px;

}


.sec1-text p {
   /* width: 1098px; */
   /* height: 272px; */
   font-size: 32px;
   color: #ffffff;
   margin: 39px 0px;

}


.btn button {
   font-size: 25px;
   background-color: #f64b3c;
   width: 290px;
   height: 65px;
   border-radius: 32px;
   text-transform: uppercase;
   color: #ffffff;
   text-align: center;
   border: none;
}


.sec2-bg {
   background-color: #f6eedf;
}



.sec2-shape1{
   top: 300px;
}
.sec2-shape2{
   top: 100px;
   left: 200px;
}
.sec2-shape3{
   bottom:  50px;
   left: 380px;
}
.sec2-shape4{
   bottom:  50px;
   right: 380px;
}
.sec2-shape5{
   top:  100px;
   right:  50px;
}
.sec2-shape6{
   bottom: 270px;
   right:  20px;

}


.title {
   margin: 0px auto;
   padding: 67px 0px;
   text-align: center;
   width: 50%;
   color: #f64b3c;
}

.title h1 {
   font-size: 64px;
   /* margin-top: 20px; */
   font-weight: 700;

}

.title p {

   margin: 25px 0;
   font-size: 25px;

}

.col33 {
   width: 30%;
   margin: 0 auto;
   color: #f64b3c;
   text-align: center;
   /* align-items: center; */
   /* justify-content: space-around; */
}


.box img {
   border-radius: 50%;

}

.text h3 {
   margin: 8px;
   font-size: 33px;
   text-transform: uppercase;
}

.text p {

   font-size: 25px;
}

.box {

   margin-bottom: 90px;
}

.sec3-bg {
   background-color: #f64b3c;
   /* overflow: hidden; */
}

/* .ovr-hd{
   overflow: hidden;
} */

.left-img img {
   border-radius: 50%;
   width: 440px;
   align-items: center;
}

/* 
.left-img {
   margin: 106px  161px;

} */



.ped-tl {
   /* margin: 0px 100px; */
   padding: 80px 20px;
}

.right-text {
   padding: 38px 0px;
}

.right-text p {
   /* width: 1131px; */
   /* height: 210px; */
   font-size: 30px;
   color: #ffffff;
   margin: 35px 0;
   /* padding: 0 20px; */
}

.right-text h2 {
   font-size: 75px;
   color: #ffffff;
   font-weight: 700;
}

.sec3-btn button {
   background-color: white;
   color: #f64b3c;
}

.sec4-bg {
   background-color: #f6eedf;
   color: #f64b3c;
}



.sec4-shape1{
   top: 20px;
}
.sec4-shape2{
   bottom:  20px;
   left: 100px;
}
.sec4-shape3{
   top:  20px;
   left: 500px;
}
.sec4-shape4{
   bottom:  50px;
   left:  500px;
}
.sec4-shape5{
   top:  50px;
   right:  50px;
}
.sec4-shape6{
   bottom: 20px;
   right:  20px;

}

.right-img {
   /* margin: 20px 20px ; */
   padding: 0 59px;
   /* border-radius: 50%; */
}

.left-text h2 {
   color: #f64b3c;
}

.left-text p {
   color: #f64b3c;
}



.sec5-bg {
   background-color: #f64b3c;
   /* color: #f6eedf; */

}


.broder{
   border: 7px solid white;
   border-radius: 50%;
   padding: 100px;
   /* align-items: center; */
   /* text-align: center; */
}
.box{
   /* padding-top: 100px; */
   margin: 0 auto;
   /* margin: 100px; */
}


.box span {
   font-size: 102px;
   color: #ffffff;
   font-weight: 700;
}

.box h4 {
   font-size: 33px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;

}

.sec6-broder {
   /* border: 2px solid #b6b4b3; */
   background-color: white;
   border-radius: 10px;
}

.sec6-shape1{
   top: 170px;
}
.sec6-shape2{
   bottom:  20px;
   left: 10px;
}
.sec6-shape3{
   top:  70px;
   left: 250px;
}
.sec6-shape4{
   top:   20px;
   right: 200px;
}
.sec6-shape5{
   top:  180px;
   right:  10px;
}
.sec6-shape6{
   bottom: 0px;
   right:  10px;
   /* z-index: -50; */

}


.sec6-bg{
  
   background-color:  #f6eedf;
}

.text{
   /* z-index: -1; */
   padding: 30px 0px;
}


.color-white {
   color: white;
}

.box{
   color: #f64b3c;
   z-index: 10;
   
}
.text h3{
   margin: 20px;

}
.text img{
   margin: 20px;
}
.text p{
   margin: 40px 0;
}

.sec7-mainbg{
   background:url(../images/sec7-\ main-img.png) no-repeat center center/cover;
}

.bg{
   background-color:#f64c3cc7;
   z-index: 1;
}

.mar-tb{
 /* justify-content: center; */
 /* text-align: center;  */
 /* text-align: justify; */
 /* align-items: center; */
padding: 200px 0px;
   
}

.mar-tb h2{
   /* margin: 50px 0px; */
   font-size: 45px;
   font-weight: 700;
   color: white;
}
.mar-tb h2{
   margin: 70px 0px;
   font-size: 45px;
font-weight: 400;
}
.mar-tb p{
   /* width: 2746px; */
   /* height: 483px; */
   font-size: 36px;
   color: #ffffff;
   font-weight: 500;
}



.update-sec {
 padding-top: 150px;

  
}
.update-sec p{
   color: #f64b3c;
   align-items: center;
  
}

.input input{
   text-align: center; 

   align-items: center;
   /* margin: 0 auto; */
   width: 406px;
   height: 40px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
border: none;

  
   
}
.input {
  align-items: center;
  /* text-align: center; */
   margin: 70px auto;
   width: 506px; 
   
}



.sec8-bg{
   background-color:  #f6eedf;
}

.sec8-shape1{
   bottom: 200px;
   left: 20px;
   /* width: 60px; */
}
.sec8-shape2{
   top:  50px;
   left: 200px;
   /* width: 60px; */
}
.sec8-shape3{
   bottom: 20px;
   left: 200px;
   width: 130px;

}
.sec8-shape4{
   top:   40px;
   left: 550px;
}
.sec8-shape5{
   bottom: 10px;
   left:  550px;
}
.sec8-shape6{
   top: 20px;
   right:  50px;
   /* z-index: 2; */

}
.sec8-shape7{
   bottom: 180px;
   right:  180px;
   /* z-index: 2; */
   width: 90px;

}
.sec8-shape8{
   bottom: 30px;
   right:  300px;
   /* z-index: 2; */

}

.btn2 button{
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   height: 40px;
   width: 150px;
   border: none;
   background-color: #f64b3c;
   color: white;

}


.sec9-text{
   padding: 59px 49px;
   /* margin: 20px 20px; */


}
.sec9-text h3{
margin: 20px 0px;
font-size: 25px;
font-weight: 700;
}
.sec9-text p{
margin: 10px 0px; 
/* padding: 10px 0; */
/* font-size: 15px; */
line-height: 20px;
/* font-weight: 400; */
}


.sec9-bg{
   background-color: #222222;
   color: white;
}
.icon{
   /* color: #f64b3c; */
   background-color: #222222;
   margin: 22px 0;

}
.icon img{   
   /* color: #f64b3c; */
   /* background-color: #222222; */
   /* margin: 0px 5px; */
   padding: 5px 5px;
   height: 40px;
  

}
/* @media (min-width:300px){
   .cantainer{
      font-size: 25px;
   }
   .nevbar ul li a{
      font-size: 30px;
   }
} */  
